@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DogGo</h1>
</div>
<img src="~/images/doggo.jpg" class="img-thumbnail" alt="Dog with yellow flower">